.header {
  text-align: center;
  border: 20px;
  border-color: brown;
 }
img {
  left: 30%;
  position: absolute;
}
.icon {
  left: 45%;
  position: absolute;
  top: 25%;
}

.fav {
    top: 45%;
    position: absolute;
    left: 35%;
}

.fav2 {
  top: 45%;
  position: absolute;
  left: 65%;
}

.heading {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 43%;
  color: white;
}

.heading2 {
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 47%;
  color: white;
}

.follow {
  position: absolute;
  z-index: 1;
  top: 95%;
  left: 47%;
  float: left;
}

.follow2 {
  position: absolute;
  z-index: 1;
  top: 94%;
  left: 51%;
}
